body{
	max-width: 960px;
	margin: 0px auto;
	background-image: url("../images/backwork.jpg");
	background-repeat: x-axis;
	background-color: #000;
}
h2, h3, h4{
	font-family: 'Parisienne', cursive;
	margin: 0;
}

/*-------------------------navigation--------------------*/

#logo{
	float: left;
	overflow: hidden;
	width: 47.9166667%; /*460px/960*/
}

#nav{
	width: 52.0833333%; /*500px/960*/
	list-style: none;
	padding: 0;	
	margin: 0;
	overflow: hidden;
}

.nv{
	width: 25%; /*125px/500*/
	background: #000;
	float: left;
}

.an{
	text-decoration: none;
	display: block;
	height: 100%; /*35px*/
	line-height: 200%; /*35px*/
	text-align: center;
	color: #fff;
	font-family: 'Lobster', cursive;
}

.an:hover{
	color: #000;
	background-color: #005826;
}
/*--------------------------navigation-end----------------------*/
/*--------------------first-image-logo------------------------*/
#ann{
	cursor: pointer;
	text-decoration:none;
	border: 2px solid rgb(0, 0, 0);
	padding: 10px 10px 10px 10px;
	color:rgb(0, 0, 0);
	font-size: 20px;
	font-family:'Lobster', arial;
	text-shadow: 0px 0px 5px rgb(255, 255, 255);
	font-size: 20px;
	border-radius:5px 17px 0px 3px;
	-moz-border-radius:5px 17px 0px 3px;
	-webkit-border-radius:5px 17px 0px 3px;
	box-shadow:0px 0px 0px rgb(0, 0, 0);
	-moz-box-shadow:0px 0px 0px rgb(0, 0, 0);
	-webkit-box-shadow:0px 0px 0px rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	background-image:linear-gradient(-90deg, rgb(102, 255, 51), rgb(102, 153, 51));
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(102, 255, 51)), to(rgb(102, 153, 51)));
	background-image:-moz-linear-gradient(-90deg, rgb(102, 255, 51), rgb(102, 153, 51));
}
#ann:hover{
	cursor: pointer;
	text-decoration:none;
	border: 2px solid rgb(0, 0, 0);
	padding: 10px 10px 10px 10px;
	color:rgb(0, 0, 0);
	font-size:20px;
	font-family:'Lobster', arial;
	text-shadow: 0px 0px 5px rgb(255, 255, 255);
	font-size: 20px;
	border-radius:5px 17px 0px 3px;
	-moz-border-radius:5px 17px 0px 3px;
	-webkit-border-radius:5px 17px 0px 3px;
	box-shadow:0px 0px 0px rgb(0, 0, 0);
	-moz-box-shadow:0px 0px 0px rgb(0, 0, 0);
	-webkit-box-shadow:0px 0px 0px rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	background-image:linear-gradient(-90deg, rgb(0, 153, 0), rgb(102, 153, 51));
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(0, 153, 0)), to(rgb(102, 153, 51)));
	background-image:-moz-linear-gradient(-90deg, rgb(0, 153, 0), rgb(102, 153, 51));
}
#ann:active{
	cursor: pointer;
	text-decoration:none;
	border: 2px solid rgb(0, 0, 0);
	padding: 10px 10px 10px 10px;
	color:rgb(0, 0, 0);
	font-size:20px;
	font-family:'Lobster', arial;
	text-shadow: 0px 0px 5px rgb(255, 255, 255);
	font-size: 20px;
	border-radius:5px 17px 0px 3px;
	-moz-border-radius:5px 17px 0px 3px;
	-webkit-border-radius:5px 17px 0px 3px;
	box-shadow:0px 0px 0px rgb(0, 0, 0);
	-moz-box-shadow:0px 0px 0px rgb(0, 0, 0);
	-webkit-box-shadow:0px 0px 0px rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	background-image:linear-gradient(-90deg, rgb(0, 51, 0), rgb(102, 153, 51));
	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, from(rgb(0, 51, 0)), to(rgb(102, 153, 51)));
	background-image:-moz-linear-gradient(-90deg, rgb(0, 51, 0), rgb(102, 153, 51));
}
#welcome{
	font-family: 'Parisienne', cursive;
	background-image: url("../images/newcta.jpg");
	background-repeat: no-repeat;
	text-align: center;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 1.66666667%; /*10px/600*/
	padding-top: 50%; /*450px;/600*/
	color: #a4ef3e;
	float: left;
	width: 100%;
  	text-shadow: -2px -1px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000, 5px 5px 2px #000;

}
#signtwo{
	text-align: center;
	background-color: #000;
	color: #8dc63f;
	width: 100%;
	margin-bottom: 1%; /*5px;*/
}
/*------------------------------main-characters-----------------------*/
#michael{
	width: 20.83333333%; /*200px;/960*/
	margin-right: .5%;
	float: left;
}

#mds{
	font-family: 'Parisienne', cursive;
	color: #f29a10;
	background-color: #8b8b8b;
	font-weight: bold;
	font-size: 1.25em; /*20px;*/
	text-align: center;
	padding-top: 1%; /*10px;*/
	padding-right: 0px;
	padding-bottom: 1%; /*10px;*/
	margin: 0;
	border: solid #000 2px;
	border-radius: 10px;

}

#page_m{
	font-family: 'raleway', san-serif;
	font-size: .875em; /*14px;*/
	margin-bottom: .6%; /*3px;*/
}

#trevor{
	width: 20.83333333%; /*200px;/960*/
	margin-right: .5%;
	float: left;
	clear: left
	
}

#tp{
	font-family: 'Parisienne', cursive;
	color: #f29a10;
	background-color: #8b8b8b;
	font-weight: bold;
	font-size: 1.25em; /*20px;*/
	text-align: center;
	padding-top: 1%; /*10px;*/
	padding-right: 0px;
	padding-bottom: 1%; /*10px;*/
	margin: 0;
	border: solid #000 2px;
	border-radius: 10px;
}

#page_t{
	font-family: 'raleway', san-serif;
	font-size: .875em; /*14px;*/
	margin-bottom: .6%; /*3px;*/
}

#franklin{
	width: 20.83333333%; /*200px;/960*/
	margin-right: .5%;
	float: left;
	clear: left;
}

#fc{
	font-family: 'Parisienne', cursive;
	color: #f29a10;
	background-color: #8b8b8b;
	font-weight: bold;
	font-size: 1.25em; /*20px;*/
	text-align: center;
	padding-top: 1%; /*10px;*/
	padding-right: 0px;
	padding-bottom: 1%; /*10px;*/
	margin: 0;
	border: solid #000 2px;
	border-radius: 10px;
}

#page_f{
	font-family: 'raleway', san-serif;
	font-size: .875em; /*14px;*/
}

#one{
	font-family: 'raleway', san-serif;
	font-size: .875em; /*14px;*/
	margin-bottom: .6%; /*3px;*/
}
#mikeone{
	background-color: #555;
	border-radius: 10px;
}
#trevorone{
	background-color: #555;
	border-radius: 10px;
}
#franklinone{
	background-color: #555;
	border-radius: 10px;
}
/*--------------------------backstory------------------------*/
#backtwo{
	-moz-column-count: 4;
}

.backsto{
	font-family: 'raleway', san-serif;
	font-size: .938em; /*15px;*/	
	text-indent: 25px
}

#main{
	width: 100%;
	text-align: center;
	background-color: #8dc63f;
	text-shadow: 5px 5px 4px #000;
	border: solid #000 2px;
	border-radius: 10px;
	clear: left;
}
#back{
	width: 100%;
	text-align: center;
	background-color: #8dc63f;
	text-shadow: 5px 5px 4px #000;
	border: solid #000 2px;
	border-radius: 10px;
}
/*-----------------gallery--------------------------------*/
#gallery{
	width: 100%;
	text-align: center;
	background-color: #8dc63f;
	text-shadow: 5px 5px 4px #000;
	border: solid #000 2px;
	border-radius: 10px;

}
#gallone{
	border: 2px solid #000;
	list-style-type: none;
	width: 59.375%; /*570px;*/
	margin: 5% auto;
	overflow: hidden;
}

.galle{
	float: left;
	padding: .7%;
}

.anch{
	border: 3px solid #000;
	display: block;
	width: 97%; /*174px;*/
}

.anch:hover{
	border: 3px solid #8dc63f;
}
/*--------------signup-------------------------------------*/
#signup{
	width: 100%;
	text-align: center;
	background-color: #8dc63f;
	text-shadow: 5px 5px 4px #000;
	border: solid #000 2px;
	border-radius: 10px;
}
#add{
	border: 3px solid #000;
	margin: 1% auto;
}
#add:hover{
	border: 3px solid #8dc63f;
}

#foot{
	font-family: 'raleway', san-serif;
	font-size: .875em; /*14px;*/	
}


/* Media queries=======
========================================================*/

/* Tablet portrat to standard 960 ===============*/
@media screen and(min-width:768px)and(max-width:959){








}



/* mobile landscape to tablet portrat ==============*/
@media screen and(min-width:480px)and(max-width:758px){









}


/* mobile portrat size to mobile landscape=========*/
@media screen and(max-width:479px){













}
