body{
	width: 960px;
	margin: 0 auto;
	background-image: ('../images/backdrop.jpg')
	background-repeat: repeat-x;
}
h2, h3, h4{
	font-family: 'Parisienne', cursive;
	margin: 0;
}

/*-------------------------navigation--------------------*/

#logo{
	float: left;
	overflow: hidden;
}

#nav{
	width: 500px;
	list-style: none;
	padding: 0;	
	margin: 0;
	overflow: hidden;
}

.nv{
	width: 125px;
	background: #000;
	float: left;
}

.an{
	text-decoration: none;
	display: block;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: white;
	font-family: 'Lobster', cursive;
}

.an:hover{
	color: #000;
	background-color: green;
}
/*--------------------------navigation-end----------------------*/
/*--------------------first-image-logo------------------------*/

#first {
	background-image: ('../images/grandlogo.png');
	background-color: grey;
	clear: both;
	float: left;
	width: 430px;
	padding-bottom: 55px;
}

#welcome{
	font-family: 'Parisienne', cursive;
	background-color: grey;
	text-align: center;
	margin: 0;
	padding-top: 100px;
	color: green;
	padding-bottom: 190px;
	display: box;
	float: left;
	width: 530px;
  	text-shadow: -2px -1px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000, 5px 5px 2px #000;

}

#michael{
	width: 200px;
	float: left;
}

#mds{
	font-family: 'Parisienne', cursive;
	color: #f29a10;
	background-color: #555;
	font-weight: bold;
	font-size: 20px;
	width: 375px;
	padding-top: 10px;
	padding-right:0px;
	padding-bottom: 10px;
	margin: 0;
	
}

#page_m{
	font-family: 'raleway', san-serif;
	font-size: 14px;
}

#main{
	text-align: center;
	background-color: #8dc63f;
	clear: left;
	text-shadow: 5px 5px 4px #000;
	border: solid #000 2px
}
#back{
	text-align: center;
	background-color: #8dc63f;
	text-shadow: 5px 5px 4px #000;
	border: solid #000 2px
}

#gallery{
	text-align: center;
	background-color: #8dc63f;
	text-shadow: 5px 5px 4px #000;
	border: solid #000 2px
}